global:
  scrape_interval: 15s

rule_files:
  - "rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['nodeexporter:9100']

  - job_name: 'python-app'
    static_configs:
      - targets: ['10.0.2.15:5001']

  - job_name: 'docker-engine'
    static_configs:
      - targets: ['10.0.2.15:9323']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
